-#  This file is app/views/movies/index.html.haml
%h2 All Movies

= form_tag movies_path, :method => :get, :id => "ratings_form" do
  Include:
  - Movie.all_ratings.each do |each|
    = each
    = check_box_tag("ratings[#{each}]", value = "1", checked=(true if @ratings[each]))
  = submit_tag 'Submit', class: 'button' 
  
%table#movies.table.table-striped.col-md-12
  %thead
    %tr
    %th{:class => ((@sortedby == "title") ? "hilite":"nonhilite")}= link_to "Movie Title", movies_path(:sortedby=>:"title")
    %th{:class => ('nonhilite')} rating 
    %th{:class => ((@sortedby == "release_date") ? "hilite":"nonhilite")}= link_to "Release Date", movies_path(:sortedby=>"release_date")
    %th{:class => ('nonhilite')} More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
